body {
  background-color: black;
}

h1 {
  font-family: garamond;
  text-align: center;
  font-size: 60px;
  color: gold;
}

h2 {
  color: gold;
  text-align: center;
}

p {
  color: grey;
  top: 460px;
  text-align: center;
}
