body {
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: gold;
  position: absolute;
  top: 350px;
  left: 50%;
}

h2 {
  color: gold;
  text-align: center;
}

p {
  color: hotpink;
  position: absolute;
  top: 460px;
  text-align: center;
}
